.button {
  border-radius: 20px;
  padding: 9px 15px;
  background-color: gray;
  cursor: pointer;
}

.trash-button {
  margin-left: 10px;
  border-radius: 3px;
  padding: 4px 8px;
  background-color: red;
  color: #ffffff;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
