:host {
    > ul {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        background-color: #323232; 
        width: 100%;

        > li {
            display: flex;
            align-items: flex-end;
            > a {
                display: inline-block;
                appearance: none;
                border: none;             
                padding: 12px;
                text-decoration: none;
                font-weight: 600;
                color: #fff;
                margin-left: 16px;

                &.active {
                    border-bottom: 3px solid #FFF;
                }
            }
        }
    }
}

.icon {
    display: flex;
    padding: 8px 0 8px 16px;
}

.icon img {
    width: 46px;
}