:host {
    > ul {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        background-color: #636e72;
        width: 100%;

        > li {
            > a {
                display: inline-block;
                appearance: none;
                border: none;
                background-color: #636e72;                
                padding: 12px;
                text-decoration: none;
                font-weight: 600;
                color: #fff;
                border-bottom: 3px solid #636e72;

                &.active {
                    border-bottom: 3px solid #2d3436;
                }
            }
        }
    }
}