/* You can add global styles to this file, and also import other style files */
* {
    font-family: Nunito Sans,Segoe UI,Helvetica Neue,Arial,sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #dfe6e9;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
